<ion-header>
  <ion-toolbar>
    <div id="container-header">
      <ion-icon color="coink" name="chevron-back-outline" src="assets/svg/chevron-back-outline.svg"
        (click)="retroceder()"></ion-icon>
      <div id="container-header_step">
        <ion-text color="coink-2" class="text-initial">FINALIZAR</ion-text>
        <ion-img src="assets/svg/step3.svg"></ion-img>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" collapse="condense" [formGroup]="form">
  <div id="container-step">
    <ion-img src="assets/svg/OinkPolicia.svg" class="oink"></ion-img>
    <div id="container-step_title">
      <ion-text class="title" color="coink-2">ESTAS MUY CERCA DE SER PARTE DE COINK.</ion-text>
      <ion-text class="subtitle">Solo es necesario que leas detenidamente el contrato que se encuentra al final de esta
        pantalla y lo aceptes. </ion-text>
    </div>
  </div>
  <div id="container-step_contract">
    <ion-text class="container-step_contract--title" color="coink-2">LO MÁS IMPORTANTE.</ion-text>
    <ion-text class="container-step_contract--subtitle">Para la apertura del Depósito de Bajo Monto en COINK debes ser
      una persona natural que de acuerdo con
      nuestra legislación vigente te encuentres en plena capacidad para adquirir derechos y contraer
      obligaciones.<br><br>
      Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo hasta por 8 salarios mínimos en el mes
      y realizar débitos por el mismo valor. Si deseas sobrepasar estos límites debes solicitarnos la apertura de un
      Depósito Ordinario COINK Persona Natural.<br><br> Solo puedes tener una cuenta COINK de Bajo Monto y podrás
      utilizar tu
      dispositivo móvil para consultar tu saldo, tus movimientos, realizar tus transacciones y administrar tu
      cuenta.<br><br>
      Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.</ion-text>
  </div>
  <div id="container-step_read">
    <ion-text color="coink-2" class="contrat">Lee tu contrato</ion-text>
  </div>
  <div id="container-step_contract_chech">
    <ion-checkbox class="checkbox" formControlName="cb" class="text">He leído ya acepto el contrato</ion-checkbox>
  </div>
  <div id="container-step_button">
    <ion-button color="coink" (click)="aceptar()" [disabled]="form.invalid">ACEPTAR</ion-button>
  </div>
</ion-content>