@font-face {
  font-family: Monserrat;
  src: url(../app/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: AvenirLTStd-Heavy;
  src: url(../app/fonts/AvenirLTStd-Heavy.otf);
}
@font-face {
  font-family: AvenirLTStd-Roman;
  src: url(../app/fonts/AvenirLTStd-Roman.otf);
}
@font-face {
  font-family: AvenirLTStd-Medium;
  src: url(../app/fonts/AvenirLTStd-Medium.otf);
}
@font-face {
  font-family: AvenirLTStd-Book;
  src: url(../app/fonts/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: AvenirLTStd-Black;
  src: url(../app/fonts/AvenirLTStd-Black.otf);
}
